<div>
    <h1 class="display-4 text-center">Bank Card Register</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-card-details-form></app-card-details-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Card Holder</th>
                    <th>Card Number</th>
                    <th>Exp. Month</th>
                    <th>Exp. Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cd of list">
                    <td>{{cd.cardHolderName}}</td>
                    <td>{{cd.cardNumber}}</td>
                    <td>{{cd.expiryMonth}}</td>
                    <td>{{cd.expiryYear}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


