/* You can add global styles to this file, and also import other style files */
.cards-container {
  margin: 0;
  display: flex;
}

.cards-form {
  width: 50%;
  padding: 2em;
}

.cards-grid {
  width: 50%;
  padding: 2em;
}

.card-row {
  width: 100%;
  display: flex;
}

.card-row-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.2em;
  cursor: pointer;
}

.card-row-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-row-action a {
  cursor: pointer;
}

.form-group label {
    color: grey;
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  
  thead th{
    font-weight: 400;
  }
  
  table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }

  button {
    margin-top: 8px;
  }
  
  /*for invalid form controls*/
  input.invalid {
    border-color: red;
  }

  @media (max-width: 780px) {
    .cards-grid {
      display: block;
      background-color: aqua;
    }
  }